---
import { getConfigFile } from '../utils/config';
import SidebarGroup from './SidebarGroup.astro';

const config = await getConfigFile();
const currentPath = Astro.url.pathname;
---

<aside class="sidebar scrollbar-hide">
  <nav class="px-2 pb-6 space-y-6">
    {config.navigation.sidebar.map((group) => (
      <SidebarGroup 
        group={group} 
        currentPath={currentPath}
      />
    ))}
  </nav>
</aside>
